@import "utilities/utilities",
"variables",
"base",
"layout/layout",
"components/components";

.u-clearfix::before,
.u-clearfix::after {
    content: " ";
    display: table;
}

.u-clearfix::after {
    clear: both;
}

// font-family: 'Roboto', sans-serif;
body {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;

}

nav {
    background-color: $greedy-green;
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: 20% 1fr 10%;
    grid-template-rows: none;
    grid-template-areas:
        'logo nav-buttons menu-button'
}

.logo {
    grid-area: logo;
    align-self: left;
    height: 100%;
}

.nav-buttons{
    grid-area: nav-buttons;
    visibility: hidden;
}


.button {
    grid-area: menu-button;
    width:5px;
    
}
