@import "utilities/utilities",
"variables",
"base",
"layout/layout",
"components/components";

.u-clearfix::before,
.u-clearfix::after {
    content: " ";
    display: table;
}

.u-clearfix::after {
    clear: both;
}

// font-family: 'Roboto', sans-serif;
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $greedy-white;
    min-width: 480px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

p {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}


nav {
    background-color: $greedy-green;
    display: grid;
    width: 100%;
    // height: 100%;
    height: 80px;
    margin: 0;
    position: relative;
    grid-template-columns: 30% 1fr 20%;
    // grid-template-rows: none;
    grid-template-areas:
        'logo nav-buttons menu-button'
}

.site-wrapper {
    margin: 0 auto;

}

.logo {
    display: block;
    grid-area: logo;
    align-self: left;
    height: 100%;
    max-height: 100%;
}

.nav-buttons {

    @media (max-width: 669px) {
        background-color: $greedy-green;
        position: absolute;
        top: 80px;
        right: 0;

    }

    // visibility: hidden;
    @media (min-width:670px) {
        grid-area: nav-buttons;
    }
}

.u-button-reset {
    grid-area: menu-button;
    align-self: center;
    height: 80px;
    text-decoration: none;
    border: none;
    background-color: $greedy-green;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("https://cdn.glitch.com/c0e9f49e-d413-41e8-bfbf-b48a0b1c3f14%2Fnoun_hamburger%20menu_3655955.png?v=1608139249815");

}

.nav-button-link {
    display: inline;
    text-decoration: none;
    color: $greedy-white;
}

.menu-icon {
    height: 50px;
}



.icon-wrapper {
    @media (max-width:669px) {
        display: none;
    }
}

.slider-banner {
    background-image: url("https://cdn.glitch.com/c0e9f49e-d413-41e8-bfbf-b48a0b1c3f14%2FBook%20Stock.png?v=1605806687072");
    width: 100%;
    height: 100%;

}

.banner-img {
    width: 100%;
}

.title-over-img {
    font-weight: 900;
    font-size: 36px;
    position: absolute;
    color: $greedy-white;
    top: 90px;
    left: 10px;
    margin: 0;
}

.slider-img {
    display: inline;
    width: 100px;
    margin: 60px 1% 2%;
}

.subheading {
    margin: 0;
    text-transform: uppercase;
}

.info-banner {
    margin: 1% auto 1%;
    padding: 1% 0;
    width: 70%;
}

.location-wrapper {
    background-color: $greedy-green;
    padding: 5%;
    text-align: center;
}

.location-card {
    display: inline-block;
    background-color: $greedy-white;
    margin: 0 5% 5%;
    width: 240px;
    padding: 10px;
    border-radius: 5%;
}

.schedule-button-link {
    text-decoration: none;
}

.schedule-button-link:hover {
    text-decoration: underline;
    text-decoration-color: $greedy-white
}

.schedule-button {
    margin: auto;
    padding: 2% 0;
    text-align: center;
    background-color: $greedy-green;
    color: $greedy-white;
    border-radius: 5px;
}

.location-card-info-text {
    margin: 0 0 2%;
}

.info-banner-text {
    font-weight: 700;
    font-size: 20px;
    margin: 5% auto;
}

.mailto-link {
    color: $greedy-green;
}

.site-footer {
    background-color: $greedy-green;
    color: $greedy-white;
    padding: 5%;
}

.footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-location-wrapper {
    text-align: center;
}

.icon-wrapper {
    margin: 5% auto;
    text-align: center;
}

@media (min-width: 670px) {

    .nav-buttons {
        grid-area: nav-buttons;
        visibility: visible;
        list-style-type: none;
    }

    .nav-button-link {
        display: inline;
        text-decoration: none;
        color: $greedy-white;
    }

    .nav-button-li {
        display: inline-block;
        margin: 5% 3% 0;
    }

    .u-button-reset {
        visibility: hidden;
    }

    .icon-wrapper {
        grid-area: menu-button;
        align-self: center;
        margin: 0 auto;
    }

    .icons {
        // grid-area: menu-button;
        display: inline;
        // align-self: center;
    }

    .slider-img {
        display: inline;
        width: 100px;
        margin: 60px 1% 2%;
    }
    .location-card{
        display: inline-block;
        background-color: $greedy-white;
        margin: 0 5% 5%;
        width: 240px;
        padding: 10px;
        border-radius: 5%;
    }

}
.slider-img-1{
    display: none;
    @media (min-width: 670px){
        display: inline;
        width: 100px;
        margin: 60px 1% 2%;
    }
}
.slider-img-2{
    display: none;
    @media (min-width: 750px){
        display: inline;
        width: 100px;
        margin: 60px 1% 2%;
    }

}

.slider-img-3{
    display: none;
    @media (min-width: 900px){
        display: inline;
        height: 150px;
        margin: 60px 1% 2%;
    }

}
.slider-img-4{
    display: none;
    @media (min-width: 1030px){
        display: inline;
        height: 150px;
        margin: 60px 1% 2%;
    }

}
